<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Vídeos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="buscar">  </ion-searchbar>

  <!-- List of Text Items -->
<ion-list>
  <ion-item lines="full">
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/nJ8V8eOLWEKnZjvRZkyI8BRMKDf.jpg">
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <div>
        <h1>Lobo Guerreiro 2 (2017)</h1>
        <p>27/07/2017 (CN) - 2h 4m</p>
        <p>Guerra, Ação, Drama
        </p>
      </div>

    </ion-label>
    <ion-chip>
      <ion-label color=success outline>76%</ion-label>
    </ion-chip>
  </ion-item>
</ion-list>

</ion-content>
